body {
    display: flex;
    margin: auto;
    width: 75%;
    padding: 20px;
    /* font-family: "Lato", sans-serif; */
    background-color: rgb(54, 54, 54);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    justify-content: center;
}

.container {
    flex: 1;
}

.inputTop {
    display: flex;
    justify-content: space-between;
}

.heading {
    text-align: center;
    color: white;
    font-style: italic;
    font-size: xx-large;
    font-weight: bold;
}

input {
    background-color: black;
    border: none;
    color: white;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}

.mailId {
    width: 49%;
}

.subject {
    width: 49%;
}

button {
    display: block;
    background-color: rgb(0, 63, 118);
    color: rgb(240, 248, 255);
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    padding: 10px;
    margin-top: 10px;
    border: none;
    /* margin: 4px 2px; */
    cursor: pointer;
    width: 15%;
    align-self: center;
    position: relative;
    /* top: 50%; */
    left: 85%;
}

p {
    color: white;
    text-align: center;
}

.EmailBody {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 40%;
    background-color: black;
    border: none;
    color: white;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    box-sizing: border-box;
}