<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body class="Body">
    <div class="container">
        <h1 class="heading">Blowfish Algorithm</h1>
        <br>
        <form action="/" method="POST" class="formCSS">
            <div class="inputTop">
                <input type="text" name="to" placeholder="Receiver Email" class="mailId">
                <!-- <div style="width: 10%"></div> -->
                <input type="text" name="subject" placeholder="Subject" class="subject">
            </div>
            <!-- <input type="text" name="body" placeholder="Body" class="EmailBody"><br> -->
            <textarea rows="25" type="text" name="body" placeholder="Enter text" class="EmailBody"></textarea>
            <button class="button" type="submit" value="submit">Send</button>
        </form>


    </div>

</body>

</html>