<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <h1 class="heading">Blowfish Algorithm</h1>
</head>

<body class="Body">
    <form action="/" method="POST">
        <input type="text" name="to" placeholder="Enter Email you want to send to..."><br>
        <input type="text" name="subject" placeholder="Enter the Subject..."><br>
        <input type="text" name="body" placeholder="Enter the message..."><br>
        <button class="button" type="submit" value="submit">
            Send Mail
        </button>
    </form>

</body>

</html>